.container {
 display: grid;
 /* grid-template-columns: 1fr 1fr 2fr 1fr; */
  /* grid-template-columns: 100px repeat(3, 1fr) 200px */
 grid-template-columns: repeat(4,minmax(200px,  1fr));
 /* grid-template-rows: 100px 100px 100px;*/
 /* grid-auto-rows: minmax(100px, auto); */
 gap: 10px;
 background-color: #ccc;
 justify-content: center;
}

.item {
 background-color: aqua;
 border-radius: 10px;
 padding: 20px;
 color: white;
 font-size: 20px;
}

.item1 {
 grid-column-start: 1; 
 grid-column-end: 5;
}

.item3 {
 grid-column-start: 2;
 grid-column-end: 4;
 grid-row-start: 2;
 grid-row-end: 5;
}

.item8 {
 grid-column-start: 4;
 grid-column-end: 5;
 grid-row-start: 3;
 grid-row-end: 5;
}

.item7 {
 grid-column: 1/ span 4;
}

.item5 {
 /* 

 grid-row-start: ;
 grid-column-start: ;
 grid-row-end: ; 
 grid-column-end: ;
 
 */

 grid-area:   3 / 1 / 4 / 2 ;

}