h2{
    color: red;
    font-size: medium;
}
ol{
    color: rgb(128, 119, 0);
    font-size: medium;
}

#titulohist {
    color: rgb(29, 200, 66);
    font-size: medium;
}

.texto1 {
    color: rgb(35, 165, 188);
    font-size: medium;
}

img {
    width: 30%;
    height: 30%;
}

#titulohist, .texto1 {
    text-align: left;
}

ul li {
   color: rgb(128, 0, 30);
}

#titulopag {
    color: rgb(200, 83, 29);
    font-size: larger;
    background-color: blueviolet;
}

p {
    border: 5px solid rgb(0, 0, 0);
    
}

div {
    border: 3px darkgreen solid;
    background-color: rgb(50, 204, 22);
    width: 100px;
    height: 100px;
}

img {
    border: 3px solid rgb(209, 49, 49);
    border-radius: 50%;
}

#ovolist {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}

body {
    margin: 0px;
}

.link {
    color:blue;
    font-size: medium;
}

.link.hover {
    color: red;
}

.link:visited {
    color: rgb(0, 0, 0);
}
